body {
    background-color:#1d1d1d !important;
    font-family: "Asap", sans-serif;
    color:#989898;
    margin:10px;
    font-size:16px;
  }
  .row{
    width:100%;
    height:400px;
  }
  
 
  .thumb{
    margin-bottom: 30px;
}

.page-top{
    margin-top:85px;
}
  

         
  
     
  .img-fluid {
      width: 100%;
      height: 300px;
      border-radius:5px;
      object-fit:cover;
      transition: all .3s ease-in-out;
      border-bottom: 5px;
     
      
  }
          
  .img-fluid:hover { transform: scale(1.1); }
      
  